<table style="background-color:#B2AC88; table-layout:fixed; width:100%" border="1">
    <thead>
        <th bgcolor="#B4A6C3">Title</th>
        <th bgcolor="#B4A6C3">Plot</th>
        <th bgcolor="#B4A6C3">Genres</th>
        <th bgcolor="#B4A6C3">Cast</th>
        <th bgcolor="#B4A6C3">Languages</th>
        <th bgcolor="#B4A6C3">Directors</th>
    </thead>
    <tbody>
        {{#each movies}}
        <tr>
            <td style="text-align:left;vertical-align:top;padding:0">{{this.title}}</td>
            <td style="text-align:left;vertical-align:top;padding:0">{{this.plot}}</td>
            <td style="text-align:left;vertical-align:top;padding:0">
                <ul class="genres_list">
                    {{#each genres}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </td>
            <td style="text-align:left;vertical-align:top;padding:0">
                <ul class="cast_list">
                    {{#each cast}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </td>
            <td style="text-align:left;vertical-align:top;padding:0">
                <ul class="languages_list">
                    {{#each languages}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </td>
            <td style="text-align:left;vertical-align:top;padding:0">
                <ol class="directors_list">
                    {{#each directors}}
                    <li>{{this}}</li>
                    {{/each}}
                </ol>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
